body{
    background-image: url(Stupa_Borobudur.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.justify {
    color: blue;
    width: 700px;
    height: 500px;
    border: 2px solid red;
    background-image: url(avocado.jpg);
    background-repeat: repeat;
    float: right;
    
}
.repeat {
    color: blue;
    width: 700px;
    height: 500px;
    border: 2px solid red;
    background-image: url(avocado.jpg);
    background-repeat: repeat-x;
    float: right;
}
